// Primary
$midnightblue: #113767;

// Secondary Tijd
$denimblue: #1179b0;
$denimblue-80: #3994bf;
$denimblue-60: #69aecf;
$denimblue-40: #9ac9df;

$buttercuporange: #df9827;
$buttercuporange-80: #e5ac5a;
$buttercuporange-60: #ebc081;
$buttercuporange-40: #f1d5ab;

$cinnabarred: #d93b20;
$cinnabarred-80: #df6352;
$cinnabarred-60: #e6897b;
$cinnabarred-40: #efb1a7;

$darkcyan: #008f8a;
$darkcyan-80: #3aa4a0;
$darkcyan-60: #69bbb8;
$darkcyan-40: #9bd2cf;

$neroblack: #231f20;
$neroblack-80: #4f4c4d;
$neroblack-60: #7b7979;
$neroblack-40: #a7a5a6;

// Secondary L'Echo
// cinnabarred, buttercuporange, darkcyan and neroblack are used here as well

$tahitiorange: #de7225;
$tahitiorange-80: #ea774f;
$tahitiorange-60: #ef997b;
$tahitiorange-40: #f5bba7;

// Tertiary
$stoneblue: #14596d;
$supernovaorange: #fbae32;
$tahitiorangealternative: #dc7231;
$meadowgreen: #18a37b;
$honeyflowerpurple: #53366a;

// Page background
$forgetmenotsalmon: #fef7ea;

// Selections
$orientblue: #2a6882;

// Nav
$sapphireblue: #042140;
$massalagrey: #59554e;

// Footer
$prussianblue: #022041;

// Links
$irisblue: #05a7d9;

// Text in footer
$floralwhite: #fffaf3;

// Graph background
$soapstonegrey: #ece5dc;

// Links in footer
$matterhorngrey: #505050;
$halfspanishsalmon: #e3d7c4;

// Heatmap
$heatmapdarkgreen: #1f662c;
$heatmaplightgreen: #2b873c;
$heatmapgrey: #c6b49c;
$heatmaplightred: #ca4036;
$heatmapdarkred: #a62d25;

// New design
$pictonblue: #39c2ef; // Label
$endeavourblue: #0551a4; //Switches background
$mercurygrey: #7e7e7e; // Header intro
$nevadagrey: #6d6e71; // Graph source link
$irongrey: #d7dcdf; // Range sliders background

// Shortcuts
$white: $floralwhite;
$black: $neroblack;
$salmon: $forgetmenotsalmon;
$primary: $midnightblue;
