@use "../variables/colours";
@use "../mixins/fontStack";

.tabs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: -18px;
  padding: 0;
}

.tabs__tab {
  @include fontStack.fontStack("sansSerif");

  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 36px 18px 0;
  padding: 6px 0;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  transition: 0.15s ease-in-out;

  &:hover {
    border-bottom-color: grey;
  }
}

.tabs__tab--active {
  font-weight: 700;
  color: colours.$prussianblue;
  border-bottom-color: colours.$prussianblue;

  &:hover {
    border-bottom-color: colours.$prussianblue;
  }
}
