<a class="nav__link" href="https://twitter.com/intent/tweet?text=<%- encodeURIComponent(config.meta.twitterSharingText) %>%20<%- encodeURIComponent(config.url) %>" target="_blank">
  <img class="nav__icon" src="https://multimedia.tijd.be/shared/nav/twitter.svg" alt="">
</a>

<a class="nav__link" href="https://www.facebook.com/sharer/sharer.php?u=<%- encodeURIComponent(config.url) %>" target="_blank">
  <img class="nav__icon" src="https://multimedia.tijd.be/shared/nav/facebook.svg" alt="">
</a>
